*
!*/

_out/

!**/*.md
!**/*.txt
!**/*.yaml
!**/*.yml
!**/*.conf

!configs/config-amd64
!configs/config-arm64

!certs/kernel-signing-cert.pem

!.gitignore
!.gitattributes
!LICENSE

!Dockerfile

!Justfile
